/*Global*/
$main-font: 'Signika';
$second-font: 'Inconsolata';
$brand-font: 'Leckerli One', cursive;
$color-white: #ffffff;
$brand-color: #ffff00;

.header {
    background-image: url("https://i.postimg.cc/LXxFVsbs/pexels-photo-355988.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}
/* Navbar */
nav {
    padding: 20px;
    font-family: $main-font;
    color: $color-white;
    .navbar-brand {
        font-family: $brand-font;
        font-size: 30px;
        color: $brand-color;
    }
    .first-level-menu {
        justify-content: space-between;
    }
}

/*Welcome*/

.header-inner {
    max-height: 700px;
    margin-top: 225px;
    margin-bottom: 200px;
    font-family: $second-font;
    text-align: center;
    color: $color-white;
    h1 {
        font-size: 70px;
        font-weight: 600;
    }
    h2 {
        font-size: 30px;
    }
}